/* add css styles here (optional) */

.test {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #000;
  font-size: 2em;
}

.graph-container {
  display: flex;
  flex-direction: unset;
  position: relative;
  bottom: 0;
}

.graph {
  display: grid;
  border: 1px solid black;
  grid-gap: 1px;
  background-color: black;
  grid-template-rows: repeat(var(--graph-size-x), 10px);
  grid-template-columns: repeat(var(--graph-size-y), 10px);
}
